*.log
*.pyc
PAD/
tools/delphes/
tools/architecture.ma5
tools/SampleAnalyzer/setup.csh
tools/SampleAnalyzer/setup.sh
tools/SampleAnalyzer/Bin/
tools/SampleAnalyzer/Commons/Base/PortabilityTags.h
tools/SampleAnalyzer/Commons/Makefile
tools/SampleAnalyzer/Configuration/Makefile
tools/SampleAnalyzer/ExternalSymLink/
tools/SampleAnalyzer/Interfaces/Makefile_delphes
tools/SampleAnalyzer/Interfaces/Makefile_root
tools/SampleAnalyzer/Interfaces/Makefile_test
tools/SampleAnalyzer/Interfaces/Makefile_zlib
tools/SampleAnalyzer/Lib/
tools/SampleAnalyzer/Process/Makefile
tools/SampleAnalyzer/Test/Makefile_commons
tools/SampleAnalyzer/Test/Makefile_delphes
tools/SampleAnalyzer/Test/Makefile_process
tools/SampleAnalyzer/Test/Makefile_root
tools/SampleAnalyzer/Test/Makefile_zlib
.ma5history
*.o
MadAnalysis5job
Output/
*.saf
